<p id="notice"><%= notice %></p>
<div>
  <% unless current_user.bookings.any? %>
    <%= render "bookings_cta" %>
  <% else %>
    <%= render "bookings_landing, bookings: @bookings" %>
  <% end %>
</div>

<h1>Bookings</h1>


<h1><%= @parking.id %></h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Start</th>
      <th>End</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.status %></td>
        <td><%= booking.start %></td>
        <td><%= booking.end %></td>
        <td><%= booking.user %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
