<div class="col-md-4 blog-main box text-center" id="post_<%= feedback.id %>">


  <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= feedback.title %></h3>
          <p><%= feedback.content %></p>
          </div>

        <div class="panel-body">
            <div style="color: #388206;"><%= time_ago_in_words(feedback.created_at) %></div>
            <br>

            <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myupdatepost_<%= feedback.id %>">
                Edit
            </button>
            <%= link_to 'Destroy', feedback, method: :delete, class: "btn btn-danger", remote: true %>
            </div>
        </div>

  </div>




  <%= form_for(feedback, :method => :put, remote: true) do |f|  %>
    <div class="modal fade" id="myupdatepost_<%= feedback.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <div class="field">
              <%= f.label :title %><br>
              <%= f.text_area :title, class: "form-control" %>
          </div>
          <div class="field">
              <%= f.label :content %><br>
              <%= f.text_area :content, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag "Create", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    </div>
    <% end %>


</div>
