<p id="notice"><%= notice %></p>

<h1>Parkings</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Location</th>
      <th>Schedule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parkings.each do |parking| %>
      <tr>
        <td><%= parking.status %></td>
        <td><%= parking.location %></td>
        <td><%= parking.schedule_id %></td>
        <td><%= link_to 'Show', parking %></td>
        <td><%= link_to 'Edit', edit_parking_path(parking) %></td>
        <td><%= link_to 'Destroy', parking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking', new_parking_path %>
